:root {
    --wpt-navy: #0d1e38;
    --navy-light: #183157;
    --light-blue: #2f80ed;
    --light-grey: #dddddd;
    --highlight: #F9D856;
    --blue-grey: rgb(52,64,84);
    --lightest-grey: #f5f5f5;
    --attention-bg: rgb(255,248,216);
    --attention-border: rgb(255,229,100);
    --note-bg: #f1f8ff;
    --note-border: #0366d6;
    --warning-bg: #ffe4e2;
    --warning-border: #eb0f00;
    --key-term: #074dad;
}
body{
    color: #222;
    font: 100%/1.5em Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0 auto;
}
/* Grid setup 
===================== */
@media (min-width: 44em) {
    body{
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        display: grid;
    }
    header {
        grid-row: 1;
        grid-column: 1 / 3;
    }
    .primaryNav {
        grid-row: 2 / 4;
        grid-column: 1;
    }
    main{
        grid-row: 2;
        grid-column: 2;
    }
    .pageNav{
        grid-row: 2;
        grid-column: 2;
    }
    footer{
        grid-row: 4;
        grid-column: 1 / 3;
    }
    .home .hero-callout{
        grid-row: 2;
        grid-column: 1 / 3;
    }
    .home main{
        grid-row: 3;
    }
    .home footer{
        grid-row: 4;
    }
    .home .primaryNav{
        grid-row: 3 / 5;
    }
    
}
@media (min-width: 55em) {
    .g-two-up{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2em;
    }
    .g-two-up div:first-child {
        border-right: 1px solid var(--light-grey);
        padding-right: 2em;
    }
    .g-two-up div:nth-child(2n) {
        padding-left: 2em;
    }
    .g-two-up .hero{
        border-radius: 5px;
        margin-bottom: -1.5em;
    }
}
@media (min-width: 68em) {
    body{
        grid-template-columns: calc(50vw - 40rem) 1fr 3fr 1fr calc(50vw - 40rem);
    }
    header{
        grid-column: 1 / 6;
    }
    .primaryNav{
        grid-column: 2;
    }
    .pageNav{
        grid-column: 4;
    }
    main{
        grid-row: 2;
        grid-column: 3;
    }
    main.wide{
        grid-column: 3 / 5;
    }
    footer{
        grid-column: 3 / 4
    }
    .home .hero-callout{
        grid-column: 1 / 6;
    }
}

/* Type setup 
===================== */
h1{
    font-size: 2.8em;
    line-height: 1.2em;
    margin-bottom: 0.6em;
    /* letter-spacing: -1px; */
}
h2{
    font-size: 2.125em;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: .7em;
    /* letter-spacing: -1px; */
}
h3{
    font-size: 1.3125em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4em;
    /* letter-spacing: -1px; */
}
h4{
    font-size: 1em;
    margin: 1.5em 0 1em;
}
p{
    margin: 1.5em 0;
}
img {
    max-width: 100%;
}

img[width] {
    width: auto; /* Defer to max-width */
}
img[width][height] {
    height: auto; /* Preserve aspect ratio */
}
/* Let SVG scale without boundaries */
img[src$=".svg"] {
    width: 100%;
    height: auto;
    max-width: none;
  }
pre {
    overflow-x: scroll
}
/* Utilities */
.vis-hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}
.btn {
    background: var(--wpt-navy);
    color: #fff;
    padding: .4em .8em;
    font-size: 1.1em;
    border-radius: 4px;
}

a{
    color: #0243a9;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
/* Head */
header{
    padding: 1.5em;
    background: var(--wpt-navy);
    border-bottom: 1px solid var(--blue-grey);
    text-align: center;
}
header .logo-wrap img{
    max-width: 12em;
    width: 100%;
}
header a{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    display: block;
}
header a+a{
    margin-bottom: 0;
}
header a:hover{
    text-decoration: none;
}
@media (min-width: 44em) {
    header{
        text-align: left;
        display: grid;
        grid-template-columns: calc(50vw - 45rem) 5fr calc(50vw - 45rem);
        align-items: center;
    }
    header .logo-wrap{
        grid-column: 2;
        align-items: center;
        align-self: center;
    }
    header a{
        display: table-cell;
        margin-bottom: 0;
        vertical-align: middle;
    }
    header a:first-child{
        border-right: 1px solid rgba(255,255,255,.5);
        padding-right: 1em;
    }
    header a:nth-child(2n) {
        padding-left: 1em;
    }
    header .logo-wrap img{
        width: 12rem;
    }
}
/* Main content area */
main{
    overflow: auto;
    padding: 1em;
}
main h1 + p {
    font-size: 1.3em;
    line-height: 1.5em;
}
main li{
    margin-bottom: .5em;
}
@media (min-width: 44em) {
    main{
        padding-top: 0;
    }
}
.hero-callout{
    margin-bottom: 4em;
    overflow: auto;
    padding: 1em 1em 0 1em;
    background: var(--lightest-grey);
    border-bottom: 1px solid var(--light-grey);
}
.hero-callout img{
    width: 80%;
    max-width: 35em;
    margin: auto;
    display: block;
}
@media (min-width: 44em) {
    .hero-callout {
        margin-top: -20px;
        display: grid;
        grid-template-columns: calc(50vw - 80rem) 1fr calc(50vw - 80rem);
    }
    .hero-callout img{
        grid-column: 2;
    }
    .hero-callout div{
        grid-column: 2;
    }
}
@media (min-width: 56em) {
    .hero-callout{
        align-items: end;
        padding-top: 0;
        grid-template-columns: calc(50vw - 45rem) 1.3fr 1fr calc(50vw - 45rem);

    }
    .hero-callout div{
        padding-right: 1.5em;
        align-self:center;
        grid-column: 2;
        grid-row: 1;
    }
    .hero-callout img{
        width: 100%;
        max-width: 34.375em;
        margin: 1em 0 0;
        grid-column: 3;
        justify-self: end;
    }

}

/* Navigation */
nav{
    padding: 0;
}
.pageNav{
    display: none;
}
@media (min-width: 68em) {
    nav{
        padding: 0 .5em;
    }
    .pageNav{
        display: block;
    }
}
.pageNav ol{
    list-style-type: none;
    padding-left: 0;
    border-left: 1px solid var(--light-grey);
    font-size: .9em;

}
.pageNav a{
    padding-left: 1em;
    display: inline-block;
}
nav ul{
    list-style-type: none;
    padding: 0 1em;
}

nav a{
    color: #555b5e;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
nav li{
    margin-bottom: 1em;
}
nav .is-active > a{
    font-weight: bold;
    color: #000;
}
nav li ul{
    padding-left: 1em;
    margin-top: 1em;
}

.toc .is-active{
    border-left: 3px solid var(--wpt-navy);
    color: var(--wpt-navy);
}
@media (min-width: 68em) {
    .toc{
        position: sticky;
        top: 1em;
        padding-top: .5em;
    }
}
.toc li{
    font-size: 1em;
}
.toc li ol{
    margin-left: 1em;
    border-left: 0;
    margin-top: .8em;
}
.toc li li{
    margin-bottom: 1em;
    line-height: 1.2em;
}
/* Primary Nav */
.primaryNav details{ 
    --details-force-closed: (min-width: 44em);
}
.primaryNav summary{
    background: var(--wpt-navy);
    color: #fff;
    font-size: 1.2em;
    margin: auto;
    padding: .5em;
    list-style: none;
    border: 1px solid rgb(35,75,128);
    border-width: 1px 0;
    text-align: center;
}
.primaryNav summary::marker,
.primaryNav summary::webkit-details-marker{
    color: transparent;
    opacity: 0;
    content: "";
    display: none;
}
.primaryNav ul{
    padding: 0;
    margin-top: 0;
}
.primaryNav li{
    margin-bottom: 0;
}
.primaryNav a{
    padding: .5em;
    display: block;
    border-bottom: 1px solid var(--light-grey);
}
.primaryNav a:hover{
    text-decoration: none;;
    background: var(--light-grey);
}
.primaryNav li li a{
    padding-left: 1em;
}
@media (min-width: 44em) {

    .primaryNav {
        padding-top: 1em;
    }
    .primaryNav summary {
        background: transparent;
        border: 0px;
        font-size: 1em;
    }
    .primaryNav details[open] summary{
        display: none;
    }
    .primaryNav a{
        border-bottom: 0;
    }
}
.has-js .primaryNav .is-closed ul{
    display: none;
}
.has-js .primaryNav .is-active ul, .has-js .primaryNav .is-open ul{
    display: block;
}
.has-js .is-open a,
.has-js .is-closed a{
    position: relative;
}
.has-js .is-closed > a::after {
    content: "";
    border-style: solid;
    border-color: inherit;
    border-width: 0 2px 2px 0;
    height: auto;
    width: auto;
    position: absolute;
    padding: 3px;
    top: .9em;
    margin-left: 6px;
    transform: rotate(45deg);
}
.has-js .is-open > a::after{
    content: "";
    border-style: solid;
    border-color: inherit;
    border-width: 0 2px 2px 0;
    height: auto;
    width: auto;
    position: absolute;
    padding: 3px;
    top: 1em;
    margin-left: 3px;
    transform: rotate(-45deg);
}

/* Footer */
footer{
    border-top: 1px solid var(--light-grey);
    padding: 1em 1em;
}
/* api-list */
.api-list ul, .api-list li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.api-list code {
    font-size: 1.2em;
    font-weight: bold;
}
.api-list strong{
    padding-top: 1em;
    display: inline-block;
}
.api-list{
    margin-bottom: 2.5em;
}
.api-list li{
    padding: .5em .5em 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--light-grey);
}
.api-list ul ul{
    margin-top: 1.5em;
}
.api-list li li{
    border-bottom: 0;
    padding: 0 .5em;
    margin-left: 1em;
}
/* callout boxes */
.caution {
    background: var(--attention-bg);
    padding: 1px 1em;
    border: 1px solid var(--attention-border);
    border-radius: 4px;
    border-width: 0 0 0 5px;
}
.note {
    background: var(--note-bg);
    padding: 1px 1em;
    border: 1px solid var(--note-border);
    border-radius: 4px;
    border-width: 0 0 0 5px;
}
.warning {
    background: var(--warning-bg);
    padding: 1px 1em;
    border: 1px solid var(--warning-border);
    border-radius: 4px;
    border-width: 0 0 0 5px;
}
.key-term {
    padding: 1px 1em;
    border: 1px solid var(--key-term);
    color: var(--key-term);
    border-width: 2px 0;
}
.key-term p::before{
    content: "Key Term to Know: ";
    padding-top: 1em;
    font-weight: bold;
    display:inline;
}
/* tables */
table{
    border-collapse: collapse;
    width: 100%;
}
table thead{
    overflow: hidden;
}
table thead th:first-child{
    border-top-left-radius: 4px;
}
table thead th:last-child{
    border-top-right-radius: 4px;
}
table th{
    background: var(--wpt-navy);
    color: #fff;
    font-weight: normal;
    padding: .5em;
}
table tbody{
    border: 1px solid var(--light-grey);

}
table td{
    padding: .5em;
    border: 1px solid var(--light-grey);
}
table tbody tr:nth-child(2n+2) td{
    background: var(--lightest-grey);
}
table td code + small {
    display: block;
    margin-top: .5em;
}
/* code-tabs */
.has-js .code-tabs pre{
    display: none;
}
.has-js .code-tabs pre.is-active{
    display: block;
}
.code-tabs-nav{
    background: var(--wpt-navy);
    display: flex;
    margin-left: 0;
    padding-left: .5em;
    list-style-type: none;
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.code-tabs-nav li {
    padding-left: 0;
    list-style-type: none;
    margin: 0 .3em;
}
.code-tabs-nav a{
    color: var(--light-grey);
    text-transform: uppercase;
    padding: .3em;
    display: block;
    font-size: .9em;
}
.code-tabs-nav li.is-active a{
    color: #fff;
    border-bottom: 3px solid #F9D856;
    font-weight: bold;
}
.code-tabs-ready pre[class*=language-]{
    border-radius: 0;
    margin-top: 0;
}

.integrations,
.integrations li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.integrations {
    margin-top: 3em;
}
.integrations li{
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--light-grey);
}
.integrations h3 {
    margin-bottom: .1em;
}
.integrations h3 + p{
    margin-top: 0;
}
.integrations li:last-child{
    border-bottom : 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.callout{
    padding-bottom: 1.5em;
    margin-top: 1.5em;
}
.callout + .callout{
    border-top: 1px solid var(--light-grey);
    padding-top: 1.5em;
}
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+json */
code[class*="language-"],
pre[class*="language-"] {
  color: #d6deeb;
  font-family: monospace,monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */

code {
    padding: .25rem
}

pre {
    overflow: auto;
    width: 100%;
    scrollbar-color: var(--light-blue) var(--navy-light)
}

pre::after {
    content: "";
    flex: 0 0 1.25rem
}

pre::-webkit-scrollbar {
    height: 1rem
}

pre::-webkit-scrollbar-track {
    background: var(--navy-light)
}

pre::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 0;
    border: .125rem solid var(--navy-light)
}

pre code {
    display: block;
    padding: .5rem 1rem;
    font-size: 1rem
}

code,pre {
    background-color: var(--wpt-navy);
    color: #fff;
}


pre[class*=language-] .token.comment,pre[class*=language-] .token.prolog,pre[class*=language-] .token.doctype,pre[class*=language-] .token.cdata,code[class*=language-] .token.comment,code[class*=language-] .token.prolog,code[class*=language-] .token.doctype,code[class*=language-] .token.cdata {
    color: #ccc
}

pre[class*=language-] .token.punctuation,code[class*=language-] .token.punctuation {
    color: #68a4f3
}

pre[class*=language-] .token.property,pre[class*=language-] .token.tag,pre[class*=language-] .token.constant,pre[class*=language-] .token.symbol,pre[class*=language-] .token.deleted,code[class*=language-] .token.property,code[class*=language-] .token.tag,code[class*=language-] .token.constant,code[class*=language-] .token.symbol,code[class*=language-] .token.deleted {
    color: #c2d8f9
}

pre[class*=language-] .token.boolean,pre[class*=language-] .token.number,code[class*=language-] .token.boolean,code[class*=language-] .token.number {
    color: #bd9a00
}

pre[class*=language-] .token.selector,pre[class*=language-] .token.attr-name,pre[class*=language-] .token.string,pre[class*=language-] .token.char,pre[class*=language-] .token.builtin,pre[class*=language-] .token.inserted,code[class*=language-] .token.selector,code[class*=language-] .token.attr-name,code[class*=language-] .token.string,code[class*=language-] .token.char,code[class*=language-] .token.builtin,code[class*=language-] .token.inserted {
    color: var(--color-yellow)
}

pre[class*=language-] .token.operator,pre[class*=language-] .token.entity,pre[class*=language-] .token.url,pre[class*=language-] .language-css .token.string,pre[class*=language-] .style .token.string,pre[class*=language-] .token.variable,code[class*=language-] .token.operator,code[class*=language-] .token.entity,code[class*=language-] .token.url,code[class*=language-] .language-css .token.string,code[class*=language-] .style .token.string,code[class*=language-] .token.variable {
    color: #00e0e0
}

pre[class*=language-] .token.atrule,pre[class*=language-] .token.attr-value,pre[class*=language-] .token.function,code[class*=language-] .token.atrule,code[class*=language-] .token.attr-value,code[class*=language-] .token.function {
    color: var(--color-yellow)
}

pre[class*=language-] .token.keyword,code[class*=language-] .token.keyword {
    color: #00e0e0
}

pre[class*=language-] .token.regex,pre[class*=language-] .token.important,code[class*=language-] .token.regex,code[class*=language-] .token.important {
    color: var(--color-yellow)
}

pre[class*=language-] .token.important,pre[class*=language-] .token.bold,code[class*=language-] .token.important,code[class*=language-] .token.bold {
    font-weight: bold
}

pre[class*=language-] .token.italic,code[class*=language-] .token.italic {
    font-style: italic
}

pre[class*=language-] .token.entity,code[class*=language-] .token.entity {
    cursor: help
}

@media screen and (-ms-high-contrast: active) {
    pre[class*=language-] code[class*=language-],pre[class*=language-] pre[class*=language-],code[class*=language-] code[class*=language-],code[class*=language-] pre[class*=language-] {
        color: windowText;
        background: window
    }

    pre[class*=language-] :not(pre)>code[class*=language-],pre[class*=language-] pre[class*=language-],code[class*=language-] :not(pre)>code[class*=language-],code[class*=language-] pre[class*=language-] {
        background: window
    }

    pre[class*=language-] .token.important,code[class*=language-] .token.important {
        background: highlight;
        color: window;
        font-weight: normal
    }

    pre[class*=language-] .token.atrule,pre[class*=language-] .token.attr-value,pre[class*=language-] .token.function,pre[class*=language-] .token.keyword,pre[class*=language-] .token.operator,pre[class*=language-] .token.selector,code[class*=language-] .token.atrule,code[class*=language-] .token.attr-value,code[class*=language-] .token.function,code[class*=language-] .token.keyword,code[class*=language-] .token.operator,code[class*=language-] .token.selector {
        font-weight: bold
    }

    pre[class*=language-] .token.attr-value,pre[class*=language-] .token.comment,pre[class*=language-] .token.doctype,pre[class*=language-] .token.function,pre[class*=language-] .token.keyword,pre[class*=language-] .token.operator,pre[class*=language-] .token.property,pre[class*=language-] .token.string,code[class*=language-] .token.attr-value,code[class*=language-] .token.comment,code[class*=language-] .token.doctype,code[class*=language-] .token.function,code[class*=language-] .token.keyword,code[class*=language-] .token.operator,code[class*=language-] .token.property,code[class*=language-] .token.string {
        color: highlight
    }

    pre[class*=language-] .token.attr-value,pre[class*=language-] .token.url,code[class*=language-] .token.attr-value,code[class*=language-] .token.url {
        font-weight: normal
    }
}