{% include 'siteHead.html' %}
<body>
    {% include 'head.html' %}
    {% include 'doc-nav.html' %}
    <main class="wide">
        <h1>{{title}}</h1>
        {{ description | markdown | safe }}
        {% if contributedBy %}
        <p class="contributedBy">Contributed by <a href="{{contributedBy.url}}">{{contributedBy.name}}</a></p>
        {% endif %}
        {{ content | safe }}

    </main>
    {% include 'footer.html' %}
</body>
</html>